@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0.4375em;
    
}

body::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
}


/*===================MENU==========================*/
.button-xd{
 margin-left: 300px;
}

#header{
    margin-bottom: 0.5rem !important;
}

#IMG-NAV{
    width: 180px !important;
    background-color: transparent;
    border: none;
    
    
    
}


 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }

 #sendWap{
     color: white;
     text-decoration: none;
     transition: 500ms
 }

 #sendWap:hover{
     color: red !important;
 }


#navbarSupportedContent li a:hover{
    color: red !important;
}

.typed{
    color: rgb(98, 98, 241);
}
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}

.video-edit{
   margin-left: 23rem;
}


#BTN-ACERC{
    transition: 500ms;
}

#BTN-ACERC:hover{
    background-color: white;
    color: black;

    
}


/*===================BATEAS==========================*/
.TIP-BAT{
    font-weight: bold;
    font-size: 20px;
}
.TIP-BAT-LI {
    font-weight: bold;
    font-size: 15px;
}



/*===================TRABAJOS INDEX==========================*/

.cards-trabajos{
    margin-bottom: 100px;
    display: flex;
  
    
}

.cards-trabajos5{
    margin-bottom: 10rem;
    display: flex;
  
    
}

.cards-trabajos6{
    margin-bottom: 10rem;
   
   display: flex;
  
    
}



#text-primary{
    font-weight: bold;
}
#TXT-N{
    font-weight: bold;
}

#TXT-INDEX{
    padding-left: 13rem !important;
    padding-right: 13rem !important;
}

#TXT-INDEX2{
    padding-left: 13rem !important;
    padding-right: 13rem !important;
}
#TEXT-BTN{
   transition: 500ms;
}
#TEXT-BTN2{
    transition: 500ms;
 }
 #TEXT-BTN3{
    transition: 500ms;
 }
 #TEXT-BTN4{
    transition: 500ms;
 }


#TEXT-BTN:hover{
    background-color: white;
    color: black;
}
#TEXT-BTN2:hover{
    background-color: white;
    color: black;
}
#TEXT-BTN3:hover{
    background-color: white;
    color: black;
}
#TEXT-BTN4:hover{
    background-color: white;
    color: black;
}


.cards-trabajos2{
    margin-bottom: 200px;
    
    
    display: flex;
  
    
}

#cardsIMG{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.36);
   width: 600px !important;
   height: 750px !important;
}

#cardsIMG4{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.36);
   width: 600px !important;
   height: 750px !important;
}
#cardsIMG2{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.36);
    width: 600px !important;
    height: 750px !important;
 }

 #cardsIMG3{
    
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.36);
    width: 600px !important;
    height: 750px !important;
 }

 #intro2{
     margin-top: 10rem !important;
 }









/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #000000ea;
    min-height:500px;
    position:relative;
}


/*=========================SOCIAL MEDIA================================*/
#MAPA-SEPARA{
    margin-bottom: 300px;
}

.TEXT-ALIGN{
    font-size: 1.2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    
} 



/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}

#equipo2{
    background: url('../IMG/BG.png') #000 no-repeat center center ;
   
    background-size: cover;
    
    
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}


#equipo4{
   
    
    
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}


#equipo3{

    
    margin-bottom: 30px;
    
}


/*=========================CUBRE PILETAS IMAGENES================================*/

.PILETAS{
  
    
    margin-bottom: 18rem;
    
    
}
.text-piletas{
 text-align: center;
}
.galeria {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
	display: flex;
	width: 88%;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 1;
}



.galeria .foto {

    margin-top: 1.25em;
    
	width: 25em;
	height: 25em;
	position: relative;
	margin-bottom: 2.1875em;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
	transition: 0.6s ease;
}
.galeria .foto:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto .gall-container{
    overflow: hidden;
}

.foto .gall-container a{
    width: 100%;
    height: 100%;
}

.foto .gall-container a > img{
   transition: 0.5s;
    object-fit: cover;
}
.foto .gall-container a > img:hover{
    transform: scale(1.2) ;
}

.foto img {
	width: 25rem;
	height: 25rem;
	object-fit: cover;
	border-radius: 5px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
	width: 100%;
	height: 0;
	transition: 0.55s ease;
	overflow: hidden;
}
.overlay h2 {
	color: #fff;
	font-size: 1.5625em;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}




.Container-piletas{
    
    
    
    margin-bottom: 100px;
}


/*=========================FOOTER================================*/




#iconos  a > img {
    width: 50px !important;
    display: inline-block !important;
    padding: 3px;
    transition: 500ms;
    

    
    
}

#iconos  a > img:hover{
    transform: translateY(-10px);
}

/*=========================GO-TOP================================*/




/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){

    #TXT-INDEX{
        padding: 0px !important;
    }
  
  
  
    #carouselExampleIndicators{
        width: 600px !important;
    }

    #carouselExampleIndicators2{
        width: 600px !important;
    }
    
    
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }

   

#iconos  a img {
    width: 50px !important;
    display: inline-block;
    align-items: center;
    margin: auto !important;
    transition: 500ms;
    

    
    
}





   
 
}

/*=========================MEDIA QUERIES PANTALLA SM================================*/
@media (max-width:868px) {


    #card2{
        margin-top: 3rem !important;
    }

    #carru1{
        width: 100% !important;
    }
    #carru2{
        width: 100% !important;
    }
    .cards-trabajos5{
        
        display:inline;
        margin: auto;
        
    }
    .cards-trabajos6{
        
        display:inline;
        margin: auto;
        
    }
    #carouselExampleFade3{
        width: 100% !important;
    }
    #equipo2{
        width: 100%;
    
        margin-bottom: 30px;
        
    }
    
    #sendWap{
        display: inline-block !important;
       
        
    }
  
    


#iconos  a img {
    width: 50px !important;
    
    margin: auto !important;
    transition: 500ms;
    

    
    
}

#iconos  a > img:hover{
    transform: translateY(-10px);
}

    
}


@media (max-width:768px) {


#TXT-INDEX{
    padding: 0px !important;
}
    
    
   
   
    



    
    #iconos  a img {
        width: 50px !important;
        
        margin: auto !important;
        transition: 500ms;
        
    
        
        
    }
    
    #iconos  a > img:hover{
        transform: translateY(-10px);
    }

 
    

    .TEXT-ALIGN{
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }    

   
    #carouselExampleIndicators2{
        width: 550px !important; 
    }
    #carouselExampleIndicators{
        width: 550px !important; 
    }

    #MAPA{
        width: 300px;
        height:300px;
    }

    #IMG-LONAS-CAS{
        width: 300px !important;
    }
     

    .galeria {
        
        display: flex;
        width: 50%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap !important; 
        z-index: 1;
    }
    body::-webkit-scrollbar{
        width: 0.4375em;
        
    }
    
    body::-webkit-scrollbar-thumb{
        background: black;
        border-radius: 5px;
    }

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }
    #IMG1{
        width: 450px;
        height: 300px;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }
    #cardsIMG{
        box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
       width: 600px !important;
       height: 750px !important;
    }
    #cardsIMG4{
        box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
       width: 600px !important;
       height: 750px !important;
    }
    #cardsIMG2{
        box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
        width: 600px !important;
        height: 750px !important;
     }
    
     #cardsIMG3{
        box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
        width: 600px !important;
        height: 820px !important;
     }
     
    
    

   

     #IMG-NAV{
       display: none;
    }


   

.text-piletas{
 text-align: center;
}
.galeria {
   
	display: flex;
	width: 88%;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 1;
}



.galeria .foto {

    margin-top: 1.25em;
    
	width: 25em;
	height: 25em;
	position: relative;
	margin-bottom: 2.1875em;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
	transition: 0.6s ease;
}
.galeria .foto:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto .gall-container{
    overflow: hidden;
}

.foto .gall-container a{
    width: 100%;
    height: 100%;
}

.foto .gall-container a > img{
   transition: 0.5s;
    object-fit: cover;
}
.foto .gall-container a > img:hover{
    transform: scale(1.2) ;
}

.foto img {
	width: 25rem;
	height: 25rem;
	object-fit: cover;
	border-radius: 5px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
	width: 100%;
	height: 0;
	transition: 0.55s ease;
	overflow: hidden;
}
.overlay h2 {
	color: #fff;
	font-size: 1.5625em;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}





     
}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/ 

@media (max-width: 576px) {
  

  
    
   

    
    

    #intro h1{
        font-size: 2rem !important;
        padding: 1rem 0 !important;
    }

    .TEXT-ALIGN{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #text-primary{
        font-size: 25px !important;
    }

    #TXT-INDEX{
        font-size: 18PX !important;
        padding: 0px !important;
    }
   

    #carouselExampleIndicators2{
        
        width: 310px !important;
    }
    
    #carouselExampleIndicators{
        width: 340px !important;
    }

    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
    .video-edit{
        width: 600px;
        height: 300px;
        margin-left:0.5rem;
     }
     .TIP-BAT{
        display: none;
     }
     
     .TIP-BAT-LI{
         display: none;
     }
     .LI-NONE{
         display: none;
     }
     .card-text{
         display: none;
     }
     
     #cardsIMG{
         box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
        width: 500px !important;
        height: 350px !important;
     }

     #cardsIMG4{
        box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
       width: 500px !important;
       height: 350px !important;
    }
     #cardsIMG2{
         box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
         width: 500px !important;
         height: 350px !important;
      }
     
      #cardsIMG3{
         box-shadow: 1px 1px 5px rgba(79, 79, 79, 0.5);
         width: 500px !important;
         height: 350px !important;
      }
     
      #TEXT-BTN{
          font-size: 12px;
      }
      #TEXT-BTN2{
        font-size: 12px;
    }
    #TEXT-BTN3{
        font-size: 12px;
    }
    #TEXT-BTN4{
        font-size: 12px;
    }

      #BTN-ACERC{
          width: 15rem !important;
      }

      
     
     
    
    
}


/*=========================KEYFRAMES================================*/
@keyframes mover{
    0%{
        transform: translate(-100%);
    }
}

@keyframes mover2{
    0%{
        transform: translate(100%);
    }
}

@keyframes mover3{
    0%{
        transform: translate(-100%);
    }
}



/*=========================MOVER-INDEX================================*/

@keyframes mover-text-primary{
    0%{
        transform: translateY(100%);
    }
}



@keyframes mover-carrousel{
    0%{
        transform: translateY(100%);
    }
}


@keyframes mover-txt-index{
    0%{
        transform: translateY(100%);
    }
}


@keyframes mover-btn-acerc{
    0%{
        transform: translateY(100%);
    }
}

/*=========================MOVER-CARDS-INDEX================================*/
@keyframes mover-card1{
    0%{
        transform: translateY(100%);
    }
}




/*=========================FOOTER================================*/



#start{
    margin: 0px !important;
    padding: 0px !important;
    width: 100px !important;
}

footer{
    
    bottom: 0px;
    width: 100%;
    background: rgb(255, 255, 255);
  }
  .main-content{
    background: url('../IMG/BG.png') #000 no-repeat center center ;
   
    background-size: cover;
    
    

    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
      color: white;
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
      transform: translateY(-8px);
    background: #f12020;
  }
  .center .content .fas{
      color: white;
    font-size: 1rem;
    background: #000000;
    height: 40px;
    width: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .content h5{
      font-size: 15px !important;
     
      
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .btn a{
      width: 15rem;
  }
  .btn a:hover{
      color: black;
      background-color: white;

  }
  .right .btn a{
    margin-top: 10px;
  }

  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s all;
  }
  .bottom center a:hover{
    color: red;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  

  /*=========================CARDS-INFO================================*/

  #card1{
      box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.299);
  }

  #card2{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.299);
}
#cara1{
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

.btn2 a{
    width: 15rem;
}
.btn2 a:hover{
    color: black;
    background-color: white;
}